OBJECT_STORAGE_AUTH_URL="https://identity.open.softlayer.com"
OBJECT_STORAGE_TENANT_ID=
OBJECT_STORAGE_USER_ID=
OBJECT_STORAGE_PASSWORD=
OBJECT_STORAGE_REGION="dallas"
OBJECT_STORAGE_CONTAINER="taxi"
